.gameDiv {
    padding: 10px;
}

.headerBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.msg {
    font-weight: 500;
    color: crimson;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
    column-gap: 20px;
}